absl-py
bleach
click
cycler
decorator
futures
h5py
html5lib
imageio
Keras==2.1.3
Markdown
matplotlib
networkx
numpy
Pillow
pip-autoremove
protobuf
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
scikit-image
scipy
six
tensorflow
tensorflow-tensorboard==1.5.1
tqdm
Werkzeug
